:root {
  --boardDefaultColor: lightgrey;
}

.gameContainer {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
}

.boardSquare {
  border-radius: 5px;
  border: 1px black solid;
  background-color: var(--boardDefaultColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardSquare:hover {
  filter: brightness(90%);
}

.boardSquare.winningSquare {
  background-color: gold;
}
